{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <div class="alert alert-secondary">
                Info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quo voluptatem laudantium cum culpa? Magni tempora laborum magnam rem beatae maxime facilis, est voluptates accusamus ullam, labore, at reprehenderit. Et. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ipsa provident ratione, saepe, nobis qui nemo praesentium id corporis rem sint fugit autem dolorum officiis! Hic, doloribus atque. Corporis, debitis.
            </div>
            <br />
            <div id="default"></div>
        </div>
    </div>
</div>
{% endblock %}
